body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  
}
//============== Carousel component===============

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background:#fff;
  width:100%;
  height:100vh;
  overflow: hidden;
  position:relative;

  .title-wrapper {
    color: #ffffff;
    position: absolute;
    bottom: 25%;
    left: 5%;
    max-width: 40vw;
    z-index : 10;

    .more-button {
      margin-top: 20px;
      width: 200px;
      height: 50px;
      border: 1px solid #fff;
      border-radius: 50px;
    }
  }
  .carousel {
    display: flex;
    width: 60%;
    height:50%;
    position:absolute;
    top:25%;
    left:40%;
    overflow: hidden;
    z-index:10;

    .carousel-slide {
      flex: 0 0 auto;
      padding:10px;
      width:20vw;
    
      .carousel-bg{
        background-color:rgba(0,0,0,0.5);
        width:100%;
        height:100%;
        border-radius:25px;
        position:absolute
      }

      .swiper-text{
        opacity:0;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius:25px;
        object-fit: cover;
        box-shadow: 0 1px 9px 2px;
        
      }
    }
  }
  .background-image:not(.background-image-active){
    .swiper-text{
      visibility:hidden;
    }
  }
  .background-image{
    width:20vw;
    height:50%;
    position:absolute;
    padding:10px;
    border-radius:25px;

    img{
      width: 100%;
      height: 100%;
      border-radius:25px;
      object-fit: cover;
      box-shadow: 0 1px 9px 2px;
    }
  }
  .carousel-bottom-wrapper{
    display:flex;
    justify-content: space-between;
    align-items:center;
    position:absolute;
    bottom:10%;
    width:55vw;
    left:40vw;

    .carousel-button-wrapper {
      z-index:2;
      flex-wrap:wrap;
      display: flex;
      justify-content: space-between;

      .carousel-button {
        background: none;
        font-size: 24px;
        cursor: pointer;
        margin:0 10px;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border:1px solid #fff;
        display:flex;
        align-items:center;
        justify-content:center;
      }
    }

    .progress-bar{
      width: 70%;
      height: 4px;
      background: #fff;
      z-index: 2;

      .progress-bar-inner{
        width: 0;
        height: 100%;
        background: darkorange;
        transition:0.5s;
      }
    }

    .page-index {
      bottom: 0;
      color: #fff;
      font-size: 3.125vw;
      z-index: 2;
    }
  }
}
